<connectionStrings>
  <add name="NORTHEntities" connectionString="metadata=res://*/North.csdl|res://*/North.ssdl|res://*/North.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WINSQL2016\SQL2017;Initial Catalog=NORTHWND;User ID=usrQuality;Password=3ed14103-0d8f-4218-b889-f9a2dcc881d7;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
</connectionStrings>