<connectionStrings>
  <add name="NORTHEntities" connectionString="metadata=res://*/North.csdl|res://*/North.ssdl|res://*/North.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WINSQL2016\SQL2017;Initial Catalog=NORTHWND;User ID=usrProduction;Password=Pa$$w0rd;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
</connectionStrings>