body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* WebGrid
-------------------------------------------------*/
.webgrid { margin: 4px ; border-collapse: collapse ; width : 600px }
.head { background-color: #ECECEC ; font-weight : bold; color: Black }
.alt { background-color: #ECECEC ; color: #000 }